.env
.env.prod
.env*.local

node_modules/
dist/
tsconfig.tsbuildinfo

ci/flyway/sqlfluff/results.json
ci/warehouse/test/results/

# Terraform data
terraform.tfstate*
*.tfvars
!example.tfvars
.terraform
hosts.ini
