[INPUT]
    name tail
    path /home/bigben/.pm2/logs/*.log

[OUTPUT]
    name  loki
    match *
    host {{ loki_host }}
    uri {{ loki_uri }}
    port {{ loki_port }}
    labels job=fluentbit
    label_keys $sub['stream']
